*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
font: 1.5rem ,"Numito",sans-serif;
    min-height: 100vh;
    background-color: #444;
    background-image: radial-gradient(whitesmoke,#444);
display: flex;
flex-direction: column;
}

header,nav,main,footer{
    display:grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header,footer{
    position: sticky;
    background-color: #030303;
    color: aliceblue;

}
header{
    top:0;
}
footer{
    bottom: 0;
}

nav{
    background-color: #fff;
    color: black;
padding: 0.5rem;
border-bottom: 0.5rem solid rgb(236, 218, 218);
}
main{
    flex-grow: 1;
}
/* syntax:
@media meadia type and (condition: breakpoint){
    
}
 */

 /* @media screen and (min-aspect-ratio: 7/4){
/* width 7 and height 4 */
    
 /* || small */

 @media screen and (min-width: 576px) {
    body{
        background-color: rgb(119, 229, 229);
        background-image: radial-gradient(whitesmoke ,rgb(107, 211, 211));
    }
    nav{
        display: none;
    }
    
 }

 