html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    
    display: flex;

    justify-content: center;

    margin-top: 80px auto;
}



.emoji5 span {

   position: absolute;

    font-size: 7dvh;
    animation: fifth 3s cubic-bezier(0.9, 0.45, 0.95, 0) infinite;
    opacity: 0.3;
    filter: blur(2.5px);
}

.emoji5 span:nth-child(1) {
    left: 10%;
    animation-duration: 10s;


}

.emoji5 span:nth-child(2) {
    left: 50%;
    animation-duration: 8s;
}

.emoji5 span:nth-child(3) {
    left: 90%;
    animation-duration: 8s;
}

.emoji5 span:nth-child(4) {
    left: 90%;
    animation-duration: 9s;
}

.emoji5 span:nth-child(5) {
    left: 90%;
    animation-duration: 9s;
}

.emoji5 span:nth-child(6) {
    left: 90%;
    animation-duration: 6s;
}

@keyframes fifth {

    from {
        transform: translate(-100vw, 400vh);
    }

    to {
        transform: translate(100vw, -400vh);
    }
}

.emoji3 span {
position: absolute;

    
    font-size: 6rem;
    animation: third 8s ease-in infinite;
    opacity: 0.3;
    filter: blur(1.5px);
}

.emoji3 span:nth-child(1) {
    left: 10%;
    animation-duration: 5s;
}

.emoji3 span:nth-child(2) {
    left: 55%;
    animation-duration: 5s;
}

.emoji3 span:nth-child(3) {
    left: 90%;
    animation-duration: 6s;
}

.emoji3 span:nth-child(4) {
    left: 90%;
    animation-duration: 7s;
}

.emoji3 span:nth-child(5) {
    left: 90%;
    animation-duration: 7s;
}

.emoji3 span:nth-child(6) {
    left: 90%;
    animation-duration: 5s;
}

@keyframes third {

    from {
        transform: translate(100vh, 100vw);
    }

    to {
        transform: translateY(300vh, 100vw);
    }
}

.emoji2 span {

    position:absolute;

    font-size: 7dvh;
    animation: second 7s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    opacity: 0.3;
    filter: blur(4px);
}

.emoji2 span:nth-child(1) {
    left: 10%;
    animation-duration: 10s;


}

.emoji2 span:nth-child(2) {
    left: 50%;
    animation-duration: 5s;
}

.emoji2 span:nth-child(3) {
    left: 90%;
    animation-duration: 7s;
}

.emoji2 span:nth-child(4) {
    left: 90%;
    animation-duration: 9s;
}

.emoji2 span:nth-child(5) {
    left: 90%;
    animation-duration: 6s;
}

.emoji2 span:nth-child(6) {
    left: 90%;
    animation-duration: 6s;
}

@keyframes second {

    from {
        transform: translateX(140vh);
    }

    to {
        transform: translateY(120vh);
    }
}

body{
   background: black;
       align-items: center;

    display: flex;
    flex-direction: column;

}

.head{

   position: absolute;
   top:0px;
right: 45px;
align-items: center;
font-size: 2.5rem;
display:flex;
gap: 22px;
}
.head a{

    color: antiquewhite;

    text-decoration: none;
}
.head a:hover{
    color: #986cb2;
 text-shadow: 0 0 10px #ae8cc2;
    transform: scale(1.1);
}


.box1{


margin-left: auto;
margin-right: auto;
     width: 690px;
 
    min-height: 710px;
    margin: 120px auto;
    background-color: rgb(156, 115, 156);
    align-items: center;
    position: relative;
    top: 20%;
    left: 35%;
    z-index: 7;
    border-radius: 0%;
   border: 5px solid pink;
animation: borderColor 4s infinite , first 4s infinite;
}
@keyframes borderColor{

    0%{
        border-color: #ffb3c6;
    }

    50%{
        border-color: #d07a9b;
    }

    100%{
        border-color: #986cb2;
    }
}
@keyframes first {
    0% {
        background-color: rgb(211, 139, 199);
    }

    20% {
        background-color: rgb(174, 130, 161);
    }
}
.list{
    list-style-position: inside;
    display: inline;
    font-size: 3rem;
    line-height: 1.6;
}

.list li:hover{
    background: rgba(219, 143, 208, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: rgb(65, 26, 59);
}


.about{
    text-decoration: underline;
   text-align: center;
   font-size: 4rem;
margin-bottom: 10px;
}
.write1{

    color:rgb(209, 222, 167);

}





.box2{

     width: 690px;
    height: 710px;
    background-color: rgb(156, 115, 156);
    align-items: center;
    
    z-index: 7;
    border-radius: 0%;
   border: 5px solid pink;
animation: borderColor 4s infinite , first 4s infinite;
}
@keyframes borderColor{

    0%{
        border-color: #ffb3c6;
    }

    50%{
        border-color: #d07a9b;
    }

    100%{
        border-color: #986cb2;
    }
}
@keyframes first {
    0% {
        background-color: rgb(211, 139, 199);
    }

    20% {
        background-color: rgb(174, 130, 161);
    }
}
.list{
    list-style-position: inside;
    display: inline;
    font-size: 3rem;
    line-height: 1.6;
}

.list li:hover{
    background: rgba(219, 143, 208, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: rgb(65, 26, 59);
}


.about{
    text-decoration: underline;
   text-align: center;
   font-size: 4rem;
margin-bottom: 10px;
}
.write1{

    color:rgb(209, 222, 167);

}


.box2{

     width: 1000px;
    height: 1200px;
    background-color: rgb(156, 115, 156);
   margin-top: 1000px;
    z-index: 7;
    border-radius: 0%;
   border: 5px solid pink;
animation: borderColor 4s infinite , first 4s infinite;
}
@keyframes borderColor{

    0%{
        border-color: #ffb3c6;
    }

    50%{
        border-color: #d07a9b;
    }

    100%{
        border-color: #986cb2;
    }
}
@keyframes first {
    0% {
        background-color: rgb(211, 139, 199);
    }

    20% {
        background-color: rgb(174, 130, 161);
    }
}
.list2{
    list-style-position: inside;
    display: inline;
    font-size: 3rem;
    line-height: 1.6;
}

.list2 li:hover{
    background: rgba(219, 143, 208, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: rgb(65, 26, 59);
}


.skill{
    text-decoration: underline;
   text-align: center;
   font-size: 4rem;
margin-bottom: 10px;
}
.write2{

    color:rgb(209, 222, 167);

}







.box3{

     width: 1000px;
    height: 900px;
    background-color: rgb(156, 115, 156);
   margin-top: 1000px;      
    border-radius: 0%;
   border: 5px solid pink;
animation: borderColor 4s infinite , first 4s infinite;
}
@keyframes borderColor{

    0%{
        border-color: #ffb3c6;
    }

    50%{
        border-color: #d07a9b;
    }

    100%{
        border-color: #986cb2;
    }
}
@keyframes first {
    0% {
        background-color: rgb(211, 139, 199);
    }

    20% {
        background-color: rgb(174, 130, 161);
    }
}
.list3{
    list-style-position: inside;
    display: inline;
    font-size: 3rem;
    line-height: 1.6;
}

.list3 li:hover{
    background: rgba(219, 143, 208, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: rgb(65, 26, 59);
}


.project{
    text-decoration: underline;
   text-align: center;
   font-size: 4rem;
margin-bottom: 10px;
}
.write3{

    color:rgb(209, 222, 167);

}





.box4{

     width: 1000px;
    height: 900px;
    background-color: rgb(156, 115, 156);
   margin-top: 2000px;      
    border-radius: 0%;
   border: 5px solid pink;
animation: borderColor 4s infinite , first 4s infinite;
}
@keyframes borderColor{

    0%{
        border-color: #ffb3c6;
    }

    50%{
        border-color: #d07a9b;
    }

    100%{
        border-color: #986cb2;
    }
}
@keyframes first {
    0% {
        background-color: rgb(211, 139, 199);
    }

    20% {
        background-color: rgb(174, 130, 161);
    }
}
.list4{
    list-style-position: inside;
    display: inline;
    font-size: 3rem;
    line-height: 1.6;
}

.list4 li:hover{
    background: rgba(219, 143, 208, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: rgb(65, 26, 59);
}


.achievements{
    text-decoration: underline;
   text-align: center;
   font-size: 4rem;
margin-bottom: 10px;
}
.write4{

    color:rgb(209, 222, 167);

}

